/* .introvideobg {
background-color:#DCE9FE;
background-image: 
    radial-gradient(at 0% 0%, hsl(218, 91%, 82%) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(217, 100%, 89%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(199, 75%, 89%,1) 0, transparent 50%);
}
 */

.introvideobg {
    background-image: linear-gradient(white, #d8e6ff99);
}