.department-card{
    transition: box-shadow 0.3s;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px;
    padding: 20px 24px;
    -webkit-box-shadow: 0 4px 12px rgba(207, 216, 220, .4);
    box-shadow: 0 4px 12px rgba(207, 216, 220, .4);
    border-radius: 8px;
    min-width: 330px;
    max-width: 330px;
    min-height: 150px;
    background-color: #fff;

    cursor: pointer;
    position: relative;
}

@media screen and (max-width: 1378px) {
  .department-card {
      min-width: 300px;
      max-width: 300px;
  }
}
@media screen and (max-width: 1228px) {
  .department-card {
      min-width: 275px;
      max-width: 275px;
  }
}

.department-card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.department-card p{
  margin-top: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #73757b;
  white-space: initial;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-top h3 {
  box-sizing: border-box;
  margin: 0;
  background: rgba(0, 0, 0, 0);
  letter-spacing: 0;
  color: #4a4a4a;
  outline: 0;
  display: block;
  font-size: 1em;
  font-weight: bold;
}

.leads-container {
  display: flex;
  justify-content: space-between;
}
  
.lead {
  display: flex;
  align-items: center;
}

.lead-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.lead-name {
  margin-left: 10px;
  text-decoration: none;
}

.member-count-button{
  text-decoration: none;
  background: #fff;
  border: 1px solid #7ea9ef;
  border-radius: 4px;
  padding: 9px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #7ea9ef;
  height: fit-content;
  margin-top: auto;
  cursor: pointer;
}
.member-count-button:hover{
  border: 1px solid #fff;
  background: #7ea9ef;
  color: #fff;
  transition: 0.25s ease-in-out;
}