.main{
    padding: 50px 0;
    background: linear-gradient(to bottom, #d8e6ff99 50%, #fff 90%);
}

.display{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    border-radius: 8px;
    margin: 0 auto;
    padding: 32px 64px;
    overflow-x: auto;
    white-space: nowrap;
}
@media screen and (max-width: 1378px) {
    .display {
        max-width: 1090px;
    }
}
@media screen and (max-width: 1228px) {
    .display {
        max-width: 1050px;
    }
}
@media screen and (max-width: 1153px) {
    .display {
        max-width: 1010px;
        padding: 32px 34px;
    }
}
@media screen and (max-width: 1108px) {
    .display {
        max-width: 970px;
        justify-content: space-around;
        padding: 32px 34px;
    }
}
@media screen and (max-width: 1048px) {
    .display {
        max-width: 970px;
        justify-content: space-around;
        padding: 32px 24px;
    }
}
@media screen and (max-width: 1028px) {
    .display {
        max-width: 970px;
        justify-content: space-around;
        padding: 32px 14px;
    }
}
@media screen and (max-width: 780px) {
    .display {
        max-width: 850px;
        justify-content: space-around;
        padding: 32px 34px;
    }
}
@media screen and (max-width: 750px) {
    .display {
        max-width: 730px;
        padding: 32px 5px;
        gap: 10px;
    }
}
@media screen and (max-width: 435px) {
    .display{
        overflow-x: scroll;
    }
}

.display h2{
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);
    letter-spacing: 0;
    color: #4a4a4a;
    outline: 0;
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 0 auto;
    margin-bottom: 1.5rem !important;
    display: block;
    width: 100%;
}